.wrapper {
    display: flex;
    gap: 30px;
}

.card {
    border: 2px solid rgb(159, 151, 151);
    border-radius: 10px;
    text-align: center

}

img {
width: 300px;
height: 200px;
object-fit: contain;
}